{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ title }}
{% endblock %}

{% block body %}
    <h1>Edit {{ title }}</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'edit' title=title %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>
{% endblock %}